<h1>Page 2</h1>
<p>This page has had {{hits}} hits.</p>
<p>This is the second page in the site.</p>
<p>Vivamus tristique laoreet molestie. Suspendisse justo elit, varius eget ultricies vitae, iaculis sed nibh. Sed
  lacinia pulvinar tellus eget bibendum. Sed eget magna vestibulum, accumsan ligula in, pharetra magna. Quisque mi diam,
  hendrerit vitae quam nec, tincidunt finibus dolor. Fusce efficitur consequat sem, eu vehicula ipsum pellentesque ac.
  Nam luctus elit eget sem aliquam, quis mollis lacus imperdiet. Vivamus nulla dolor, placerat sed ullamcorper eget,
  rutrum eu ipsum. Maecenas fringilla, ex quis blandit gravida, augue odio porttitor velit, sed auctor ante justo et
  ipsum. Vivamus pretium bibendum nisl, eu euismod neque vestibulum ut. Nam vel odio at nisi tempus feugiat. Etiam
  tempus augue tortor, nec maximus massa mattis nec. Maecenas cursus eros non tincidunt gravida.</p>
